<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Decks</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <h1>Deck: <%= deck %></h1>
    <ul>
      <li>TYPE: <%= %> </li>
      <li>Card Count:</li>
      <li>Shuffled Status:</li>
      <li>Open Status:</li>
    </ul>

    <h2>Card list: in Order</h2>


   


    <form action="/decks/openDeck/<%= deck %>?" method="POST">
    <button type="submit">Open</button>
    </form>

    <form action="/decks/shuffleDeck/<%= deck %>?_method=PUT" method="POST">
    <button type="submit">Shuffle Deck</button>
    </form>

    <form action="/decks/drawCard/<%= deck %>?_method=PUT" method="POST">
    <button type="submit">Draw a Card</button>
    </form>

    <form action="/decks/deleteDeck/<%= deck %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
    </form>

    <h2>To see a list of your decks, click <a href="/decks">here</a> or add /decks to your endpoint</h2>	


    <a href="/"><h2>Return to main menu</h2></a>
  </body>
</html>
